*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;

    background: white;
    
    

    padding:40px 20px;
}

.settings-container{
    max-width:900px;
    margin:auto;
}

.title{
    text-align:center;
    color:blue;
    margin-bottom:35px;
}

.title h1{
    font-size:50px;
}

.title p{
    font-size:18px;
    margin-top:10px;
}

.card{
    background:white;
    border-radius:20px;
    padding:25px;
    margin-bottom:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.card h2{
    color:blue;
    margin-bottom:20px;
}

.setting-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 0;
    border-bottom:1px solid #eee;
}

.setting-item:last-child{
    border:none;
}

.setting-item span{
    font-size:18px;
}

.switch{
    width:55px;
    height:30px;
    background:#ddd;
    border-radius:50px;
    position:relative;
    cursor:pointer;
}

.switch::before{
    content:"";
    position:absolute;
    width:24px;
    height:24px;
    background:white;
    border-radius:50%;
    top:3px;
    right:4px;
    transition:.3s;
}

.switch.active{
    background:#2563eb;
}

.switch.active::before{
    transform:translateX(-24px);
}

.btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    margin-top:10px;
    cursor:pointer;
    font-size:18px;
}

.save{
    background:#2563eb;
    color:white;
}


body.dark-mode{
    background:#111827;
    color:white;
}

body.dark-mode .card{
    background:#1f2937;
    color:white;
}

body.dark-mode .card h2{
    color:#60a5fa;
}

body.dark-mode .setting-item{
    border-bottom:1px solid #374151;
}

body.dark-mode .setting-item i{
    color:#60a5fa;
}

body.dark-mode .title{
    color:white;
}

body.dark-mode .save{
    background:#2563eb;
}

body.dark-mode .logout{
    background:#dc2626;
}